html{
    width: 100%;
}
.main-account-container{

}

.registration-container{
width:500px;

    margin: 0 auto;
    background: #5483B3;
    
}
.account-container ul {
    text-align: center;
    padding:20px;
}

.account-container li{
    margin: 5px;
}
.summit-botton{
    margin:5px;
    padding: 4px;
}