html{
    width: 100%;
}
.main-account-container{
text-align: center;
}

.registration-container{
width:300px;
  display: inline-block;
/*    margin: 0 auto;*/
    background: #5483B3;
    vertical-align: top;
    
}


.account-container ul {
    text-align: center;
    padding:18px;
   

}
.account-container input{
    height: 30px;
    width:200px;
}

.account-container li{
    margin: 10px;
}
.account-container li:first-child{
    color:aliceblue;
    padding-bottom: 10px;
     font-size: 1.2rem;
    font-weight: bold;

}
.account-container li:last-child{
    padding-bottom: 2px;
}

.account-container a{
    color:aliceblue;
}
/*
.account-container li:nth-of-type(5){
    border: 2px solid #fff;

    text-align: center;
}
*/
.summit-botton{
    margin:5px;
    width: 204px;
    padding: 4px;
    height:34px;
    background: transparent;
    border: 2px solid #fff;
    color:aliceblue;
    text-transform: uppercase;
}


.media-container{
    width:300px;
  display: inline-block;
/*    margin: 0 auto;*/
    background: #5483B3;
}

 
.media-container ul{
   
background-color:#5483B3; 
    
}
.media-container a{
    color:aliceblue;
font-size: 1rem;
  
}

.media-container li{
    text-align: right;
    padding: 15px;
    margin: 10px;
    

}

.media-container li:nth-child(1){
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color:aliceblue;
}
.media-container li:nth-child(2){
    background-color:#3C5A99;
       position: relative;
 
}

.media-container li:nth-child(3){
    background-color:#ffc838;
    position: relative;
}

.media-container li:nth-child(4){
     background-color:#fb3958;
       position: relative;

}

.media-container li:last-child{
      background-color:#38A1F3;
       position: relative;

}

.logo-container{
    top:3px;
    left:3px;
   position: absolute;
    width:40px;
    height: 40px;
 
    
}
.logo-container img{
     width:40px;
    height: 40px;
}


.social-media-container{
    display: inline-block;
 
}