html{
    width: 100%;
}
.main-account-container{

}

.registration-container{
width:300px;
  display: inline-block;
/*    margin: 0 auto;*/
    background: #5483B3;
    
    
}
.account-container ul {
    text-align: center;
    padding:20px;
}

.account-container li,.media-container li{
    margin: 5px;
}
.summit-botton{
    margin:5px;
    padding: 4px;
}

.media-container{
    width:300px;
  display: inline-block;
/*    margin: 0 auto;*/
    background: #5483B3;
}

 
.media-container ul{
   
background-color:#5483B3; 
    
}
.media-container a{
    color:aliceblue;
font-size: 1rem;
  
}

.media-container li{
    text-align: right;
    padding: 15px;
    margin: 10px;

}

.media-container li:nth-child(1){
    background-color:#3C5A99;
 
}

.media-container li:nth-child(2){
    background-color:#ffc838;
    position: relative;
}

.media-container li:nth-child(3){
     background-color:#fb3958;

}

.media-container li:last-child{
      background-color:#38A1F3;

}

.logo-container{
    top:3px;
    left:3px;
   position: absolute;
    width:40px;
    height: 40px;
    
}
.logo-container img{
     width:40px;
    height: 40px;
}