/*     This code im fixing*/
    
    .wrapper{
        position: absolute;
        display: block;
        width:100%;
    }
    .nav-div {
        padding:0; 
        
    }
    .nav-div ul {
        position: absolute;
        display: block;
        width:100%;
        text-align: center;
       
 
    }
    
    .nav-div ul {
 background-color:red;
   
    }

    
    
/*    the code above*/