form {
    padding-top: 1rem;
}

.signup-page{
    width:30rem;
    margin: 20px;
    display: grid;
     grid-template-columns: 1fr 1fr; 
    
    grid-template-areas: "inf inf"
                        "tit txt"
                        "fn nf"
                        "ln nl"
                        "em me"
                        "ps sp"
                        ".  . "
                        "sn sn"; 
    
}

.signup-title {
    grid-area: inf; 
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}



.signup-form label,
.signup-form input,
.signup-form select {
    grid-area: inf;
/*
    display: block;
    margin-top: 1rem;
    width: 100%;
*/
}

/*selects all the inputs that are invalid */


.signup-form button[class*="button"]{
    background-color:yellow; 
}
.signup-form input[id*="terms"], 
.signup-form input[id*="terms"] + label{
    display:inline-block; 
    width: auto;
/*    this is how you center the checkbox */
    vertical-align: bottom;
}

.signup-form input[type="checkbox"]:checked {
    background:#2ddf5c; 
    border: #0e4f1f;
}



.signup-form button[type="submit"]{
    display:block; 
    margin-top: 1rem; 
}

.signup-form{
    padding:1rem;
}
.signup-form label{
    font-weight: bold; 
}
.signup-form input:not([type="checkbox"]),
.signup-form select {
    border:1px solid #ccc;
    padding: 0.2rem 0.5rem; 
    font:inherit; 
    
}

.signup-form input:focus, 
.signup-form select:focus {
    outline:none; 
    background: #d8f3df; 
    border-color: #2ddf5c;
    
}

.signup-form input[type="checkbox"]{
    border: 1px solid #ccc; 
    background: #fff; 
    width: 1rem; 
    height: 1rem;
/*    content:&#x2713;*/
    -webkit-appearance:none; 
    -moz-appearance: none; 
    appearance: none;
}

.signup-form input.invalid,
.signup-form input.invalid,
.signup-form :invalid {
    border-color: red !important; 
    background: #faacac;
}
@media (min-width: 40rem){
    .signup-form{
        display: grid;
        margin: auto; 
        width: 10rem ;
        grid-template-columns: 10rem auto ; 
    }
}

.button[disabled]{
    cursor: not-allowed;
    border: #a1a1a1;
    
    background-color: #ccc !important;
    color: #a1a1a1;
}