* {
    font-family: 'Playfair Display', serif;
    margin-left: 0;
}

/*head container */

.container {
    background-color: #fff;
    height: 56px;
    position: relative;
}

.wrapper {
    background-color: #fff;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.nav-div {
    background-color: #fff;
    max-width: 550px;



}

/*university logo */

.logo {
    position: absolute;
    max-width: 50px;
    background-color: #fff;
    top: -15px;
    padding-left:5px;

}

img {
    width: 70px;
}

/*navigation */

.nav-div li {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
    padding: 0 auto;
}

.nav-div ul {
    padding-left: 0;
}

.nav-div a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;

}
/*hover effects for navigation items*/
.nav-div li:hover{
    background-color: #273041;
    border-radius: 6px;
        
}
.nav-div a:hover{
    color:#fff;
}

/*hamburger icon*/

.ham {
    width: 25px;

}

.menu {
    width: 40px;
    position: absolute;

    bottom: 9px;
    right: 0;
    transform: translateX(20%);
    display: none;

}



/*footer section*/

footer{
    position: absolute;
   bottom: 0;
    width:100%;
    background-color: #323C48;
      
    
/*    #323C48 */
}

.footer-social{
    
    text-align: center;
   
}


.footer-social nav{
    background-color:#273041;

}
.footer-social li{
    display: inline-block;
    
}

.footer-social img{
    width:30px;
    color:aliceblue;
    
}

/*mobile responsibeness*/

@media (max-width:700px) {


    .logo {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .nav-div {
        display: none;
    }

    .menu {
        display: block;
    }

}
