*{
    font-family: 'Playfair Display', serif;
}
.container {
    background-color: #fff;
    height: 56px;
    position: relative;
}

.wrapper {
    background-color: #fff;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.nav-div {
    background-color: #fff;
    max-width: 550px;



}

.logo {
    position: absolute;
    max-width: 50px;
    background-color: #fff;
    top:-15px;

}
img{
    width:70px;
}


.nav-div li {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
    padding: 0 auto;
}

.nav-div ul{
    padding-left: 0;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color:#000;

}

.ham{
    width:25px;
   
}
.menu{
    width:40px;
    position: absolute;

    bottom: 9px;
     right: 0;
    transform: translateX(20%);
    display: none;
    
}


@media (max-width:700px){
    
    
    .logo{
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    }
    
    .nav-div{
        display: none;
    }
    .menu{
        display: block;
    }
    
}
