.container {
    background-color: #fff;
    height: 56px;
    position: relative;
}

.wrapper {
    background-color: #fff;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.nav-div {
    background-color: #fff;
    max-width: 550px;



}

.logo {
    position: absolute;
    max-width: 50px;
    background-color: #fff;

}

.nav-div li {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
    padding: 0 auto;
}

.nav-div ul{
    padding-left: 0;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;

}

img {

    width: 52px;
}

